.buttonSearch {
  background-color: rgb(241, 178, 178);
  border-radius: 2px;
  border-color: brown;
  margin-right: 3px;
  cursor: pointer;
}

.buttonSearch:hover {
  color: rgba(165, 42, 42, 0.644);
}
